*{
	margin: 0;
	padding: 0;
}
body{
	width:98%;
	margin:0 auto;
}
/*头部导航样式*/
.top{
	background:#1f1f1f;
	margin:0 auto;
}
.navlist{
	display:inline-block;
	width:10%;
	text-align: center;
	line-height:50px;
}
.navlist a{
	color:white;
	text-decoration:none;
	font-weight:bold;
}
/*底部样式*/
.bottom{
	/*background:#1f1f1f;*/
	margin:0 auto;
	/*height:200px;*/
	margin-top:20px;
	/*color:white;*/
	text-align:center;
}

